<div class="container-fluid">
  <span class="bread">Vendas > Clientes</span>
  <h3>Lista de Clientes</h3>
<table class="table table-striped table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">E-mail</th>
        <th scope="col">Celular</th>
        <th scope="col">Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.code}}</td>
        <td>{{client.personName}}</td>
        <td *ngIf="client.personCpf">{{client.personCpf | mask:"000.000.000-00"}}</td>
        <td>{{client.personContactEmail}}</td>
        <td *ngIf="client.personContactCellphone">{{client.personContactCellphone | mask:"(00) 00000-0000"}}</td>
        <td>{{client.addressNeighborhood}}, {{client.addressCityName}} - {{client.addressCityUf}}</td>
      </tr>
    </tbody>
  </table>
</div>
  