#btnNewLead {
  background-image: linear-gradient(to bottom right, #000000, #005e66);
}

.e-kanban.e-custom {
  font-size: 20px;
  font-style: italic;
  color: #005e66;
  background-color: #e5f3f5;
  border-radius: 20px;
  margin-bottom: 15px;
}

.bread {
  color: rgb(166, 167, 168);
  font-size: 12px;
}
