<span class="bread">Vendas > Funil de Vendas</span>
<h3>Funil de Vendas</h3>
<ejs-kanban #kanban keyField='funnelSlotId' [dataSource]='leads' cssClass="e-custom" showEmptyColumn="true" [cardSettings]='cardSettings' [height]='calculateResponsiveHeight()' (cardDoubleClick)='handleDoubleClickCard($event)' (dataSourceChanged)='dataSourceChanged($event)' (dialogOpen)='dialogOpen($event)'>
  <e-columns>
    <e-column *ngFor="let slot of slots;" [headerText]='slot.title' [keyField]='slot.id'>
        <ng-template #template let-data>
            <div class="header-template-wrap">
                <div class="header-icon e-icons {{data.keyField}}"></div>
                <div class="header-text">{{data.headerText}}</div>
                <div *ngIf="flagAwaken && awakenKanban()"></div>
            </div>
        </ng-template>
    </e-column>
  </e-columns>
</ejs-kanban>

<button class="btn btn-primary" id="btnNewLead" (click)="handleOpenModalNewLead()"><i class="fa-solid fa-plus"></i> Criar Lead</button>

