#btnModal {
  background-image: linear-gradient(to bottom right, #000000, #005e66);
}

select[readonly] {
  background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
  pointer-events: none;
  touch-action: none;
}
