<div class="modal-header">
  <h4 class="modal-title">Contrato</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(undefined)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="contractForm" class="form mt-3">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group mt-3">
          <label>Data Inicial:</label>
          <input formControlName="initialDate" value="{{ contract?.initialDate | date:'yyyy-MM-dd' }}" type="date" class="form-control" [class.is-invalid]="inputError(contractForm, 'initialDate', 'required')">
          <span *ngIf="inputError(contractForm, 'initialDate', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label>Data Final:</label>
          <input formControlName="finalDate" value="{{ contract?.finalDate | date:'yyyy-MM-dd' }}" type="date" class="form-control" [class.is-invalid]="inputError(contractForm, 'finalDate', 'required') || inputError(contractForm, 'finalDate', 'finalDatePrevious')">
          <span *ngIf="inputError(contractForm, 'finalDate', 'required')" class="text-danger">Campo obrigatório!</span>
          <span *ngIf="inputError(contractForm, 'finalDate', 'finalDatePrevious')" class="text-danger">A data final deve ser posterior a data inicial!</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group mt-3">
          <label>Status:</label>
          <select readonly="readonly" tabindex="-1" aria-disabled="true" class="form-control" formControlName="status">
            <option *ngFor="let status of contractStatus" [value]="status.id">{{status.name}}</option>
          </select>
          <span *ngIf="inputError(contractForm, 'status', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>
    </div>

  </form>

  <form [formGroup]="proposalForm" class="form mb-3">

    <div class="row">

      <div class="col-md-12">
        <div class="form-group mt-3">
          <textarea rows="10" readonly="true" formControlName="description" class="form-control" placeholder="Escreva a proposta..." [class.is-invalid]="inputError(proposalForm, 'description', 'required')"></textarea>
          <span *ngIf="inputError(proposalForm, 'description', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-1 mt-3">R$</div>
      <div class="col-md-3">
        <div class="form-group mt-3">
          <input formControlName="value" readonly="true" type="number" min="0.00" max="10000.00" step="0.01" class="form-control" placeholder="Valor" [class.is-invalid]="inputError(proposalForm, 'value', 'required')">
          <span *ngIf="inputError(proposalForm, 'value', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
  <button *ngIf="isUpdate" button type="button" class="btn btn-warning" (click)="handleDonwloadContract()"><i class="fa-solid fa-download"></i> Exportar</button>
  <button *ngIf="isUpdate" button type="button" class="btn btn-danger" (click)="handleDeleteContract()"><i class="fa-solid fa-trash-can"></i> Excluir</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(undefined)">Cancelar</button>
  <button type="button" class="btn btn-primary" id="btnModal" (click)="handleSaveContract()"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
</div>
