<div class="container-fluid" id="body">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center" id="reset">

      <h3 id="title">Trocar Senha</h3>
      <hr width="100%">

      <form [formGroup]="formGroup" class="form mt-4 mb-5" (submit)="handleSubmit()">

        <div class="form-group mt-3">
          <input formControlName="currentPassword" class="form-control" placeholder="Senha Atual" type="password" [class.is-invalid]="inputError(formGroup, 'currentPassword', 'required')">
          <span *ngIf="inputError(formGroup, 'currentPassword', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>

        <div class="form-group mt-3">
          <input formControlName="password" class="form-control" placeholder="Nova Senha" type="password" [class.is-invalid]="inputError(formGroup, 'password', 'required')">
          <span *ngIf="inputError(formGroup, 'password', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>

        <div class="form-group mt-3">
          <input formControlName="confirmPassword" class="form-control" placeholder="Confirmar Nova Senha" type="password" [class.is-invalid]="inputError(formGroup, 'confirmPassword', 'required') || formGroup.hasError('passwordsNotMatching') && formGroup?.get('password')?.touched">
          <span *ngIf="inputError(formGroup, 'confirmPassword', 'required')" class="text-danger">Campo obrigatório!</span>
          <span *ngIf="!inputError(formGroup, 'confirmPassword', 'required') && formGroup.hasError('passwordsNotMatching') && formGroup?.get('password')?.touched" class="text-danger">Senhas diferentes!</span>
        </div>

        <button type="button" class="btn btn-primary" id="btnRegister" type="submit">Salvar</button>

      </form>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>
