<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bem vindo ao GanttBox!</title>
</head>
<style>
</style>
<body style="
background-repeat: no-repeat;
background-size: cover;
background-image: linear-gradient(to bottom right, #000000, #005e66);
background-color: #005e66;
text-align: center;
padding: 10px 0 10px 0;
">
    <div style="text-align: center; color:#fff; font-size: 12px; font-family: sans-serif;">
        <b>Esse é um email automático, favor não respondê-lo.</b>
    </div>

    <div style="
    background-color: #fff;
    padding: 25px 10px 10px 10px;
    border-radius: 20px;
    width: 600px;
    margin: 10px auto;
    font-family: sans-serif;
    color: #000000;
    ">
        <h1>Bem vindo ao GanttBox!</h1>
        <p>Olá {{name}}, estamos muito felizes em receber você e sua empresa no nosso sistema, para o seu primeiro acesso use as credencias geradas abaixo:</p>
        <ul style="text-align: left;">
            <li>Login: {{username}}</li>
            <li>Senha: {{password}}</li>
        </ul>
        <p>Para sua segurança recomendamos a troca da sua senha após o primeiro acesso. Esperamos com nosso sistema contribuir para o desenvolvimento da sua instituição.</p>
        <p>Até logo.</p>
    </div>
    <div style="text-align: center; color:#fff; font-size: 12px; font-family: sans-serif;">
        Enviado por GanttBox
        <br>
        Av. Fernando Ferrari, 514 - Goiabeiras, Vitória - ES, 29075-910
    </div>
</body>

</html>