<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bem vindo ao GanttBox!</title>
</head>
<style>
</style>
<body style="
background-repeat: no-repeat;
background-size: cover;
background-image: linear-gradient(to bottom right, #000000, #005e66);
background-color: #005e66;
text-align: center;
padding: 10px 0 10px 0;
">
    <div style="text-align: center; color:#fff; font-size: 12px; font-family: sans-serif;">
        <b>Esse é um email automático, favor não respondê-lo.</b>
    </div>

    <div style="
    background-color: #fff;
    padding: 25px 10px 10px 10px;
    border-radius: 20px;
    width: 600px;
    margin: 10px auto;
    font-family: sans-serif;
    color: #000000;
    ">
        <h1>Esqueceu a senha?</h1>
        <p>Não se preocupe. Clique no botão abaixo e você será redirecionado para cadastrar uma nova senha e recuperar o seu acesso ao sistema.</p>
        <a href="{{urlFrontEnd}}/redefinir-senha?token={{tokenEmail}}"><button style="
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #005e66;
            background-image: linear-gradient(to bottom right, #000000, #005e66);
            cursor: pointer;
            box-shadow: 0px 10px 10px 0px #d3d3d3;
            color: #fff;
            border-radius: 7px;
            padding: 10px 12px 10px 12px; 
            outline: none;
            font-size: 20px;
            border:none;">CADASTRAR NOVA SENHA</button></a>
    </div>
    <div style="text-align: center; color:#fff; font-size: 12px; font-family: sans-serif;">
        Enviado por GanttBox
        <br>
        Av. Fernando Ferrari, 514 - Goiabeiras, Vitória - ES, 29075-910
    </div>
</body>

</html>