<div class="modal-header">
  <h4 class="modal-title">Novo Cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(undefined)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <p>Por favor, complete as informações cadastrais abaixo para transformar a lead num cliente:</p>

  <form [formGroup]="clientForm" class="form mt-3 mb-3">

    <div class="row">

      <div class="col-md-8">
        <div class="form-group mt-3">
          <input formControlName="name" class="form-control" placeholder="Nome" [class.is-invalid]="inputError(clientForm, 'name', 'required')">
          <span *ngIf="inputError(clientForm, 'name', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group mt-3">
          <input formControlName="cpf" class="form-control" placeholder="CPF" mask="000.000.000-00" [class.is-invalid]="inputError(clientForm, 'cpf', 'required') || inputError(clientForm, 'cpf', 'cpfNotValid')">
          <span *ngIf="inputError(clientForm, 'cpf', 'required')" class="text-danger">Campo obrigatório!</span>
          <span *ngIf="inputError(clientForm, 'cpf', 'cpfNotValid')" class="text-danger">CPF inválido!</span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-7">
        <div class="form-group mt-3">
          <input formControlName="email" class="form-control" placeholder="E-mail" [class.is-invalid]="inputError(clientForm, 'email', 'required') || inputError(clientForm, 'email', 'email')">
          <span *ngIf="inputError(clientForm, 'email', 'required')" class="text-danger">Campo obrigatório!</span>
          <span *ngIf="inputError(clientForm, 'email', 'email')" class="text-danger">E-mail Inválido!</span>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group mt-3">
          <input formControlName="cellphone" class="form-control" placeholder="Celular" mask="(00) 00000-0000" [class.is-invalid]="inputError(clientForm, 'cellphone', 'required')">
          <span *ngIf="inputError(clientForm, 'cellphone', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group mt-3">
          <input formControlName="zipCode" class="form-control" placeholder="CEP" mask="00000-000" [class.is-invalid]="inputError(clientForm, 'zipCode', 'required')" (change)="handleInsertZipCode()">
          <span *ngIf="inputError(clientForm, 'zipCode', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

    </div>

    <div class="row">
      
      <div class="col-md-3">
        <div class="form-group mt-3">
          <select formControlName="uf" class="form-select form-control" (change)="handleSelectedUf()">
            <option value="{{uf.uf}}" *ngFor="let uf of ufs">{{uf.uf}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group mt-3">
          <select formControlName="city" class="form-select form-control">
            <option value="{{city.id}}" *ngFor="let city of citys">{{city.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group mt-3">
          <input formControlName="neighborhood" class="form-control" placeholder="Bairro" [class.is-invalid]="inputError(clientForm, 'neighborhood', 'required')">
          <span *ngIf="inputError(clientForm, 'neighborhood', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

    </div>

    <div class="row">
      
      <div class="col-md-6">
        <div class="form-group mt-3">
          <input formControlName="street" class="form-control" placeholder="Logradouro" [class.is-invalid]="inputError(clientForm, 'street', 'required')">
          <span *ngIf="inputError(clientForm, 'street', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group mt-3">
          <input formControlName="numberAddress" class="form-control" placeholder="Número" [class.is-invalid]="inputError(clientForm, 'numberAddress', 'required')">
          <span *ngIf="inputError(clientForm, 'numberAddress', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group mt-3">
          <input formControlName="complement" class="form-control" placeholder="Complemento" [class.is-invalid]="inputError(clientForm, 'complement', 'required')">
          <span *ngIf="inputError(clientForm, 'complement', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

    </div>





  </form>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(undefined)">Cancelar</button>
  <button type="button" class="btn btn-primary" id="btnModal" (click)="handleSaveClient()"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
</div>
