<div class="modal-header">
  <h4 class="modal-title">Esqueceu a senha?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Não se preocupe, digite o endereço de e-mail associado à sua conta GanttBox.</p>

  <form [formGroup]="formGroup" class="form mt-4 mb-4">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group mt-3">
          <input formControlName="email" class="form-control" placeholder="E-mail" [class.is-invalid]="inputError(formGroup, 'email', 'required') || inputError(formGroup, 'email', 'email')">
          <span *ngIf="inputError(formGroup, 'email', 'required')" class="text-danger">Campo obrigatório!</span>
          <span *ngIf="inputError(formGroup, 'email', 'email')" class="text-danger">E-mail Inválido!</span>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Fechar</button>
  <button type="button" class="btn btn-primary" id="btnForgot" (click)="handleSubmit()" >Recuperar acesso</button>
</div>
