<div class="container-fluid" id="body">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7" id="signup">
      <h1>Dados da Empresa</h1>
      <hr width="100%">

      <form [formGroup]="organizationForm" class="form mt-4 mb-5">

        <div class="row">

          <div class="col-md-3">
            <div class="form-group mt-3">
              <input formControlName="name" class="form-control" placeholder="Nome" [class.is-invalid]="inputError(organizationForm, 'name', 'required')">
              <span *ngIf="inputError(organizationForm, 'name', 'required')" class="text-danger">Campo obrigatório!</span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group mt-3">
              <input formControlName="cnpj" class="form-control" placeholder="CNPJ" mask="00.000.000/0000-00" [class.is-invalid]="inputError(organizationForm, 'cnpj', 'required') || inputError(organizationForm, 'cnpj', 'cnpjNotValid')">
              <span *ngIf="inputError(organizationForm, 'cnpj', 'required')" class="text-danger">Campo obrigatório!</span>
              <span *ngIf="inputError(organizationForm, 'cnpj', 'cnpjNotValid')" class="text-danger">CNPJ inválido!</span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group mt-3">
              <input formControlName="telephone" class="form-control" placeholder="Telefone" mask="(00) 0000-0000" [class.is-invalid]="inputError(organizationForm, 'telephone', 'required')">
              <span *ngIf="inputError(organizationForm, 'telephone', 'required')" class="text-danger">Campo obrigatório!</span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group mt-3">
              <input formControlName="email" class="form-control" placeholder="E-mail" [class.is-invalid]="inputError(organizationForm, 'email', 'required') || inputError(organizationForm, 'email', 'email')">
              <span *ngIf="inputError(organizationForm, 'email', 'required')" class="text-danger">Campo obrigatório!</span>
              <span *ngIf="inputError(organizationForm, 'email', 'email')" class="text-danger">E-mail Inválido!</span>
            </div>
          </div>


        </div>

      </form>

      <h1>Dados Pessoais</h1>
      <hr width="100%">

      <form [formGroup]="collaboratorForm" class="form mt-4 mb-5">

        <div class="row">

          <div class="col-md-7">
            <div class="form-group mt-3">
              <input formControlName="name" class="form-control" placeholder="Nome" [class.is-invalid]="inputError(collaboratorForm, 'name', 'required') || inputError(collaboratorForm, 'name', 'oneName')">
              <span *ngIf="inputError(collaboratorForm, 'name', 'required')" class="text-danger">Campo obrigatório!</span>
              <span *ngIf="inputError(collaboratorForm, 'name', 'oneName')" class="text-danger">Preencher nome completo!</span>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group mt-3">
              <input formControlName="email" class="form-control" placeholder="E-mail" [class.is-invalid]="inputError(collaboratorForm, 'email', 'required') || inputError(collaboratorForm, 'email', 'email')">
              <span *ngIf="inputError(collaboratorForm, 'email', 'required')" class="text-danger">Campo obrigatório!</span>
              <span *ngIf="inputError(collaboratorForm, 'email', 'email')" class="text-danger">E-mail Inválido!</span>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="form-group mt-3">
              <input formControlName="rg" class="form-control" placeholder="RG" [class.is-invalid]="inputError(collaboratorForm, 'rg', 'required')">
              <span *ngIf="inputError(collaboratorForm, 'rg', 'required')" class="text-danger">Campo obrigatório!</span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group mt-3">
              <input formControlName="cpf" class="form-control" placeholder="CPF" mask="000.000.000-00" [class.is-invalid]="inputError(collaboratorForm, 'cpf', 'required') || inputError(collaboratorForm, 'cpf', 'cpfNotValid')">
              <span *ngIf="inputError(collaboratorForm, 'cpf', 'required')" class="text-danger">Campo obrigatório!</span>
              <span *ngIf="inputError(collaboratorForm, 'cpf', 'cpfNotValid')" class="text-danger">CPF inválido!</span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group mt-3">
              <input formControlName="cellphone" class="form-control" placeholder="Celular" mask="(00) 00000-0000" [class.is-invalid]="inputError(collaboratorForm, 'cellphone', 'required')">
              <span *ngIf="inputError(collaboratorForm, 'cellphone', 'required')" class="text-danger">Campo obrigatório!</span>
            </div>
          </div>

        </div>

      </form>

      <button type="button" class="btn btn-primary" id="btnRegister" (click)="handleRegister()">Cadastrar</button>

      <hr width="100%">

      <p class="mt-1">Já possui acesso? <a class="link" (click)="handleNavigateToLogin()">Fazer Login</a></p>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>
