<div class="modal-header">
  <h4 class="modal-title"><span *ngIf='isUpdate'>Editar</span><span *ngIf='!isUpdate'>Cadastrar</span> Lead</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(undefined)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="leadForm" class="form mt-3 mb-3">

    <div class="row">

      <div class="col-md-8">
        <div class="form-group mt-3">
          <input formControlName="name" class="form-control" placeholder="Nome" [class.is-invalid]="inputError(leadForm, 'name', 'required')">
          <span *ngIf="inputError(leadForm, 'name', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group mt-3">
          <input formControlName="cpf" class="form-control" placeholder="CPF" mask="000.000.000-00" [class.is-invalid]="inputError(leadForm, 'cpf', 'required') || inputError(leadForm, 'cpf', 'cpfNotValid')">
          <span *ngIf="inputError(leadForm, 'cpf', 'required')" class="text-danger">Campo obrigatório!</span>
          <span *ngIf="inputError(leadForm, 'cpf', 'cpfNotValid')" class="text-danger">CPF inválido!</span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-7">
        <div class="form-group mt-3">
          <input formControlName="email" class="form-control" placeholder="E-mail" [class.is-invalid]="inputError(leadForm, 'email', 'required') || inputError(leadForm, 'email', 'email')">
          <span *ngIf="inputError(leadForm, 'email', 'required')" class="text-danger">Campo obrigatório!</span>
          <span *ngIf="inputError(leadForm, 'email', 'email')" class="text-danger">E-mail Inválido!</span>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group mt-3">
          <input formControlName="cellphone" class="form-control" placeholder="Celular" mask="(00) 00000-0000" [class.is-invalid]="inputError(leadForm, 'cellphone', 'required')">
          <span *ngIf="inputError(leadForm, 'cellphone', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

    </div>

  </form>


</div>
<div class="modal-footer">
  <button *ngIf="isUpdate" type="button" class="btn btn-dark" (click)="handleDeclareWinLoss(false)"><i class="fa-regular fa-face-frown"></i> Perda</button>
  <button *ngIf="lead?.funnelSlotId === 4" type="button" class="btn btn-success" (click)="handleDeclareWinLoss(true)"><i class="fa-regular fa-dollar-sign"></i> Ganho</button>
  <button *ngIf="lead?.funnelSlotId === 4" type="button" class="btn btn-info" (click)="handleEditContract()"><i class="fa-solid fa-file"></i> Visualizar Contrato</button>
  <button *ngIf="lead?.funnelSlotId === 3" type="button" class="btn btn-info" (click)="handleEditProposal()"><i class="fa-solid fa-file"></i> Visualizar Proposta</button>
  <button *ngIf="isUpdate" button type="button" class="btn btn-danger" (click)="handleDeleteLead()"><i class="fa-solid fa-trash-can"></i> Excluir</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(undefined)">Cancelar</button>
  <button type="button" class="btn btn-primary" id="btnModal" (click)="handleSaveLead()"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
</div>
