<div class="container-fluid">
  <span class="bread">Vendas > Contratos</span>
  <h3>Lista de Contratos</h3>
<table class="table table-striped table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Data Inicial</th>
        <th scope="col">Data Final</th>
        <th scope="col">Cliente</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of contracts">
        <td>{{contract.code}}</td>
        <td>{{contract.initialDate | date:'dd/MM/yyyy' }}</td>
        <td>{{contract.finalDate | date:'dd/MM/yyyy' }}</td>
        <td>{{contract.clientPersonName}}</td>
        <td>{{contract.contractStatusName}}</td>
      </tr>
    </tbody>
  </table>
</div>
  