<div class="modal-header">
  <h4 class="modal-title">Criar Proposta</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(undefined)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="proposalForm" class="form mt-3 mb-3">

    <div class="row">

      <div class="col-md-12">
        <div class="form-group mt-3">
          <textarea rows="10"  formControlName="description" class="form-control" placeholder="Escreva a proposta..." [class.is-invalid]="inputError(proposalForm, 'description', 'required')"></textarea>
          <span *ngIf="inputError(proposalForm, 'description', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-1 mt-3">R$</div>
      <div class="col-md-3">
        <div class="form-group mt-3">
          <input formControlName="value" type="number" min="0.00" step="0.01" class="form-control" placeholder="Valor" [class.is-invalid]="inputError(proposalForm, 'value', 'required')">
          <span *ngIf="inputError(proposalForm, 'value', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>
      </div>
    </div>




  </form>


</div>
<div class="modal-footer">
  <button *ngIf="isUpdate" button type="button" class="btn btn-danger" (click)="handleDeleteProposal()"><i class="fa-solid fa-trash-can"></i> Excluir</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(undefined)">Cancelar</button>
  <button type="button" class="btn btn-primary" id="btnModal" (click)="handleSaveProposal()"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
</div>
