<div class="container-fluid" id="body">
  <div class="row">
    <div class="col-md-12" id="login">

      <h4 class="text-center"><img src="../../../../assets/ganttbox_logo.png" width="300"></h4>

      <form [formGroup]="loginForm" class="form mt-4 mb-3" (submit)="handleSubmit()">

        <div class="form-group">
          <input formControlName="name" class="form-control" placeholder="Usuário" [class.is-invalid]="inputError(loginForm, 'name', 'required')">
          <span *ngIf="inputError(loginForm, 'name', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>

        <div class="form-group mt-3 mb-3">
          <input formControlName="password" type="password" class="form-control" placeholder="Senha" [class.is-invalid]="inputError(loginForm, 'password', 'required')">
          <span *ngIf="inputError(loginForm, 'password', 'required')" class="text-danger">Campo obrigatório!</span>
        </div>

        <button type="submit" class="btn btn-primary" id="btnLogin">Entrar</button>
      </form>

      <a class="link" style="text-decoration: unset;" (click)="handleOpenModal()">Esqueci a senha</a>

      <hr width="100%">

      <p class="mt-1">Novo no GanttBox? <a class="link" (click)="handleNavigateToSignUp()">Criar Conta</a></p>

    </div>
  </div>
</div>
