#body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #000000, #005e66);
}

#login {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
  padding: 50px;
  border-radius: 20px;
}

#btnLogin {
  background-image: linear-gradient(to bottom right, #000000, #005e66);
}

.link {
  color: #02b2c2;
  text-decoration: unset;
  cursor: pointer;
}
