<div class="container-fluid">
  <div class="row" id="slidebar-sales">
      <div class="col-sm-auto bg-light sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap" id="icons-sales">
                  <li routerLink="/funil-vendas" class="nav-item">
                      <a class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right">
                        <i class="fa-solid fa-table-cells"></i> Funil de Vendas
                      </a>
                  </li>
                  <li routerLink="/clientes" >
                      <a class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right">
                        <i class="fa-solid fa-user-group"></i> Clientes
                      </a>
                  </li>
                  <li routerLink="/propostas" >
                      <a class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right">
                        <i class="fa-solid fa-file"></i> Propostas
                      </a>
                  </li>
                  <li routerLink="/contratos" >
                      <a class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right">
                        <i class="fa-solid fa-file-signature"></i> Contratos
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-sm p-3">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
