#body {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../../assets/removeu-fundo.png"), linear-gradient(to bottom right, #000000, #005e66);;
  background-position: right bottom;
  background-repeat: no-repeat;
}

#reset {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
  padding: 50px;
  height: 100vh;
}

.link {
  color: #02b2c2;
  text-decoration: unset;
  cursor: pointer;
}

#btnRegister {
  background-image: linear-gradient(to bottom right, #000000, #005e66);
}
