<div class="container-fluid">
  <span class="bread">Vendas > Propostas</span>
  <h3>Lista de Propostas</h3>
<table class="table table-striped table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Data de Envio</th>
        <th scope="col">Valor</th>
        <th scope="col">Cliente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proposal of proposals">
        <td>{{proposal.code}}</td>
        <td>{{proposal.sendDate | date:'dd/MM/yyyy' }}</td>
        <td>{{proposal.value | currency:'R$'}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>