<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="nav">
  <div class="container-fluid">
    <a routerLink="/projetos" class="navbar-brand">
      <img src="../../../../assets/brand.png" class="ponteiro" height="40"/>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/projetos" class="nav-link active ponteiro">Projetos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/funil-vendas" class="nav-link active ponteiro">Vendas</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-gear"></i> Configurações
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item ponteiro">Alterar Dados Cadastrais</a></li>
            <li><a routerLink="/trocar-senha" class="dropdown-item ponteiro">Trocar Senha</a></li>
          </ul>
        </li>
        <li class="nav-item ml-2">
          <a class="nav-link active ponteiro" (click)='handleLogout()'>
            Sair <i class="fa-solid fa-door-open"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
